
.HomepageHeader{
    width:auto;
    height:150px;
    background-color:WHITE;
    padding:20px;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 30px;
    position:relative;
    top: 0;
    left: 0;
    border-style:solid;
    border-color: black;
    border-radius:10px;
    margin: 15px;

}

.HomePageContainer{
    gap:20px;
}
.HomepageMain{
    width:1000px;
    height: auto;
    color:black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-style: solid;
    border-color: black;
    border-radius:10px;
    margin:30px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

}

.FixedProfile{
    display:flex;
    gap: 10px;
    align-items: center;
    padding:40px;
}

.navigationBar{
    display:flex;
    flex-direction: row;
    position:fixed;
    width:100%;
    height:40px;
    top:0;
    left:0;
    background-color:floralwhite;
    border-color: black ;
    border-width:1px ;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}