.ContenitoreTitolo{

}

.ContenitoreImmagine{

}

.ContenitoreCorpoPost{

}

.TitoloPost{
    width:500px;
    height:100px;
    border-radius:20px;
    border:1px solid black;
    box-shadow: 1px 1px 1px black;
    resize:none;
    justify-content: start;
    padding:20px;
    font-size:18px;
}

.immaginePreview{
    align-items: center;
    justify-content: center;
    width:500px;
    height: 350px;
    border:1px solid black;
    border-radius:20px;
    box-shadow: 1px 1px 1px black;
}

.ConfermaPost{
    justify-content: center;
    align-items: center;
    background-color:#231A33;
    border-radius:10px;
    border:1px solid black;
}